.restaurant-card {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.restaurant-card p {
  font-weight: lighter;
  margin: 0.2em;
}

.expand-btn {
  color: grey;
  font-size: 3em;
  margin-left: auto;
}
