.restaurant-list {
  background-color: white;
  border-radius: 10px;
  height: 80vh;
  margin: 5em;
  padding: 2em;
  overflow: auto;
  width: 55vw;
}

.restaurant-list input {
  border: none;
  border-bottom: 1px black solid;
  height: 2em;
  margin-bottom: 1em;
  width: 100%;
}

input:focus {
  outline: none;
}

.search-btns {
  float: right;
  margin-top: -1.5em;
}

.clear-btn {
  margin-left: 1em;
}

::-webkit-scrollbar {
  background: transparent;
}

.expand-btn {
  cursor: pointer;
}

.tag-list {
  height: 2em;
}

.tag {
  background-color: lightgrey;
  border-radius: 5%;
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
}

.page-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;
  width: 100%;
}
